.popup {
  position: relative;
  opacity: 1;
  background-color: #fff;
  width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 490px) {
  .popup {
    width: 282px;
  }
}