.page {
  max-width: 880px;
  margin: 45px auto 60px auto;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 950px) {
  .page {
    max-width: 88.125vw;
  }
}

@media screen and (max-width: 425px) {
  .page {
    max-width: 320px;
    margin: 28px auto 36px auto;
  }
}