.overlay_show-image {
  background-color: rgba(0, 0, 0, 0.9);
}

.image-popup {
  position: relative;
}

.image-popup__image {
  max-width: 816px;
  max-height: 540px;
}

.image-popup__title {
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0 0;
  font-weight: 400;
}

@media screen and (max-width: 380px) {
  .image-popup__image {
    width: 240px;
  }
}