.popup__input {
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px 0;
  margin: 0 auto 30px auto;
  width: 83%;
  outline: none;
  color: #000;
}