.profile__title {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  max-width: 430px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .profile__title {
    text-align: center;
  }
}

@media screen and (max-width: 490px) {
  .profile__title {
    max-width: 250px;
    font-size: 27px;
    line-height: 33px;
  }
}