.popup__submit {
  width: 83%;
  border-style: none;
  outline: none;
  margin: 18px auto 37px auto;
  padding: 14px 0 18px 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}