.elements__items {
  padding: 0;
  margin: 0 0 66px 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-template-rows: auto;
  gap: 17px;
}

@media screen and (max-width: 950px) {
  .elements__items {
    gap: 19px;
    margin: 0 0 48px 0;
  }
}