.popup__close-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -47px;
  right: -47px;
  background-image: url('../../../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  outline: none;
  border-style: none;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 460px) {
  .popup__close-button {
    width: 36px;
    height: 36px;
    top: -50px;
    right: 0;
  }
}